@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystem/dotnet-core">deploying Web apps to Azure Linux.</a>.</p>
    <p>Learn about <a href="https://dev.azure.com/alcheman/">Azure DevOps Alcheman</a>.</p>
    <p>Learn about <a href="https://portal.azure.com/#home">Azure Portal Alcheman</a>.</p>
</div>
